<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @backoffice_category.description %>
</p>

<%= link_to 'Edit', edit_backoffice_category_path(@backoffice_category) %> |
<%= link_to 'Back', backoffice_categories_path %>
