<h1>Editing Backoffice Accounts Payable</h1>

<%= render 'form', backoffice_accounts_payable: @backoffice_accounts_payable %>

<%= link_to 'Show', @backoffice_accounts_payable %> |
<%= link_to 'Back', backoffice_accounts_payables_path %>
