<h1>Editing Backoffice Accounts Receivable</h1>

<%= render 'form', backoffice_accounts_receivable: @backoffice_accounts_receivable %>

<%= link_to 'Show', @backoffice_accounts_receivable %> |
<%= link_to 'Back', backoffice_accounts_receivables_path %>
