<h1>Editing Backoffice Payment Type</h1>

<%= render 'form', backoffice_payment_type: @backoffice_payment_type %>

<%= link_to 'Show', @backoffice_payment_type %> |
<%= link_to 'Back', backoffice_payment_types_path %>
