<h1 class="page-header">Dashboard</h1>

<p>
	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
		Ajuda
	</button>
</p>
<div class="collapse" id="collapseExample">
	<div class="card card-body">
		<fieldset>
			<legend>Ajuda Visualizar</legend>
			<img width="920px" height="300px" src="/ajuda.PNG"/>
		</fieldset>
		<br>
		<br>
		<fieldset>
			<legend>Ajuda Cadastro</legend>
			<img width="920px" height="300px" src="/ajuda_cad.jpg"/>
		</fieldset>
	</div>
</div>

