<h1> Ajuda Sistema </h1>
<div>
	<fieldset>
		<legend>Ao Visualizar</legend>
		<img width="920px" height="300px" src="/ajuda.PNG"/>
	</fieldset>
	<br>
	<br>
	<fieldset>
		<legend>Ao Cadastrar</legend>
		<img width="920px" height="300px" src="/ajuda_cad.jpg"/>
	</fieldset>
</div>

