<h1> Ajuda Sistema </h1>
<div>
	<fieldset>
		<legend><a data-toggle="collapse" data-target="#visualizar">Ao Visualizar</a></legend>
		<div id="visualizar" class="collapse">
			<img width="920px" height="400px" src="/ajuda.jpg"/>
		</div>
	</fieldset>

	<fieldset>
		<legend><a data-toggle="collapse" data-target="#cadastro">Ao Cadastrar/Editar</a></legend>
		<div id="cadastro" class="collapse">
			<img width="920px" height="300px" src="/ajuda_cad.jpg"/>
		</div>
	</fieldset>

	<fieldset>
		<legend><a data-toggle="collapse" data-target="#pesquisa"> Ao Pesquisar</a></legend>
		<div id="pesquisa" class="collapse">
			<img width="920px" height="300px" src="/ajuda_pes.jpg">
		</div>
	</fieldset>
</div>

